<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>QBank Admin Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:replace="~{/fragments/global-head :: tags}"></th:block>
    <th:block th:replace="~{/fragments/toast :: toast-style}"></th:block>

</head>
<body class="bg-base-200 text-base-content font-sans">

<div th:replace="~{/admin/fragments/header :: tag}"></div>

<!-- Layout -->
<div class="flex flex-col md:flex-row min-h-screen">

    <div th:replace="~{/admin/fragments/sidebar :: tag}"></div>

    <!-- Main Content -->
    <main class="flex-1 p-8 space-y-6 overflow-auto animate-fade-in">
        <div class="p-6 space-y-6">
            <div class="flex justify-between gap-4 w-full">
                <div class="p-6 space-y-6">
                    <h1 class="text-2xl font-bold text-primary">Manage Subjects</h1>
                    <p class="text-sm text-gray-500">Create, update, and organize subject categories.</p>
                </div>

                <div class="p-6">
                    <a th:href="@{/admin/manage/subjects/add}" class="btn btn-success">Add New Subject</a>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                <div th:each="subject : ${subjects}" class="card bg-base-100 shadow-md p-4 flex flex-col">
                    <div class="flex-grow">
                        <h2 class="font-semibold text-lg" th:text="${subject.name}">Subject Name</h2>
                        <p class="text-sm text-gray-500" th:text="${subject.description}">Subject Description</p>
                    </div>
                    <div class="mt-4 flex justify-end gap-2">
                        <a th:href="@{/admin/manage/subjects/{id}/edit(id=${subject.id})}"
                           class="btn btn-sm btn-primary">Edit</a>
                        <a th:href="@{/admin/manage/questions(subjectId=${subject.id})}"
                           class="btn btn-sm btn-neutral">View Questions</a>
                        <a th:href="@{/admin/manage/exams(subjectId=${subject.id})}"
                           class="btn btn-sm btn-neutral">View Exams</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<div th:replace="~{/admin/fragments/footer :: tag}"></div>
<div th:replace="~{/fragments/toast :: toast-html-script}"></div>

<script th:if="${message != null}" th:inline="javascript">
    let message = [[${message}]];
    let type = [[${messageType} ?: 'info']];
    let position = [[${toastPosition} ?: 'top-right']];

    window.addEventListener('DOMContentLoaded', () => {
        showToast(message, type, position);
    });
</script>


</body>
</html>